<!doctype html>

<html>
<head>
	<title>CPRConduct</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="stylesheets/custom.css"> 

</head>

<body>
<div class="container mainDiv" style="height:100vh;">
				<div id="buttons" style="text-align: center;">
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<a class="taskButton" href="/task1">START</a>
				</div>
</div>

</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>

</html>
