<!doctype html>

<html>
<head>
	<title>CPRConduct</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="stylesheets/custom.css">     
</head>

<body>
<div class="container">
	<div class="mainDiv">
		<div id="task">
				<br/>
				<br/>
				<span class="taskTitle">Continue giving </span> <span class="taskTitle" style="color:red; font-size: 46px">30 </span> <span class=taskTitle> chest compressions and </span> 
				<span class="taskTitle" style="color:red; font-size: 46px">2 </span> <span class=taskTitle> rescue breaths </span>
				<span class="taskTitle" style="color:blue; font-size: 56px">3 </span> <span class=taskTitle> times.</span>
				<br/>
				<br/>
				<br/>
				<br/>
				<div id="button" style="text-align: center;">
					<a href="/" class="taskButton">Finish</a>
				</div>
		</div>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>

</body>
</html>
