<!doctype html>

<html>
<head>
	<title>CPRConduct</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="stylesheets/custom.css">   
</head>

<body>
<div class="container" style="text-align: center; padding-left: 70px; padding-right: 70px;">
	<div class="row">
				<div class="col-sm-12 col-md-12" id="task">
						<br/>
						<br/>
						<span class="taskTitle">Give </span> <span class="taskTitle" style="color:red; font-size: 56px">30 </span> <span class=taskTitle> chest compressions</span>
						<br/>
						<br/>
						<img src="images/step1.JPG" alt="Lorem Pixel image" class="taskImage img">
						<br/>
						<br/>
						<p class="normalText">Push hard in the middle of the chest.</p>
						<br/>
						<br/>
						<br/>
						<br/>
				</div>
	</div>
	<div class="row">
				<div class="col-sm-7 col-md-7" id="nexttaskleft">
					<div>
						<br/>
						<span class="nexttaskTitle">Next Step: Give 2 rescue breaths</span>
						<br/>
						<img src="images/step2.JPG" alt="Lorem Pixel image" class="nexttaskImage img">
						<br/>
					</div>
				</div>
				<div class="col-sm-5 col-md-5" id="nexttaskright">
							<a href="/task2" class="taskButton">NEXT  &raquo;</a>
				</div>
	</div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>

</body>
</html>
