<!doctype html>

<html>
<head>
	<title>CPRConduct</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="stylesheets/custom.css">   
</head>

<body>
<div class="container" style="text-align: center; padding-left: 70px; padding-right: 70px;">
	<div class="row">
				<div class="col-sm-12 col-md-12" id="task">
						<br/>
						<br/>
						<span class="taskTitle">Stand clear and deliver shock</span>
						<br/>
						<br/>
						<img src="images/step51.JPG" alt="Lorem Pixel image" class="taskImage img">
						<br/>
						<br/>
						<p class="normalText">Stand clear of the person and press the white button to deliver shock.</p>
						<br/>
						<br/>
						<br/>
						<br/>
				</div>
	</div>
	<div class="row">
				<div class="col-sm-7 col-md-7" id="nexttaskleft">
					<div>
						<br/>
						<span class="nexttaskTitle">Next Step: Give 30 chest compressions</span>
						<br/>
						<img src="images/step1.JPG" alt="Lorem Pixel image" class="nexttaskImage img">
						<br/>
					</div>
				</div>
				<div class="col-sm-5 col-md-5" id="nexttaskright">
							<a href="/task1" class="taskButton">NEXT  &raquo;</a>
				</div>
	</div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>

<script type="text/javascript">

	function incrementCompressionCounter()
	{
		var count = sessionStorage.compressionCounter;
		if(count==undefined)
		{
			count = 1;
		}
        sessionStorage.compressionCounter = parseInt(count)+1;
	}


	$(document).ready(function() {


	});

</script>

</body>
</html>
