<!doctype html>

<html>
<head>
	<title>CPRConduct</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="stylesheets/custom.css">    
</head>

<body>
<div class="container">
	<div class="mainDiv">
		<div id="task">
				<br/>
				<br/>
				<span class="taskTitle">Give </span> <span class="taskTitle" style="color:red; font-size: 56px">2 </span> <span class=taskTitle> rescue breaths</span>
				<br/>
				<br/>
				<img src="images/step2.JPG" alt="Lorem Pixel image" class="taskImage img">
				<br/>
				<br/>
				<p class="normalText">Tilt the head back and lift the chin up.</p>				
				<p class="normalText">Pinch the nose shut and blow into the persons mouth for 1 second.</p>
				<br/>
				<br/>
				<div id="button" style="text-align: center;">
					<a href="/task3" class="taskButton">NEXT</a>
				</div>
		</div>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>

</body>
</html>
