#task
{
	text-align: center;
}

#nexttask
{
	text-align: center;
}

#nexttaskleft
{
	text-align: right;
    height:270px; 
    background-color: #efefef;
    padding-right: 40px;
}

#nexttaskright
{
	text-align: left;
    text-align:center; 
    background:#4E9CAF; 
    /*width:285px; */
    height:270px; 
    font-size: 40px
}

#button
{

}

.taskTitle
{
	font-size: 40px;
}

.nexttaskTitle
{
	font-size: 25px;
}

.normalText
{
	font-size: 30px;
	text-align: center;
}

.taskButton
{
	font-size: 50px;
	border-style: solid;
	border-color: #4E9CAF;
	color:white;
	text-align: center;
    background: #4E9CAF;
    padding: 0px;
    color: white;
    font-weight: bold;
    width: 80px;
    position: relative;
  	top: 37%;
  	transform: translateY(-60%);
}

.finishbutton
{
	font-size: 50px;
	border-style: solid;
	border-color: #4E9CAF;
	color:white;
	text-align: center;
    background: #4E9CAF;
    padding: 0px;
    color: white;
    font-weight: bold;
}

.taskImage
{
width:650px;
height:400px;
}

.nexttaskImage
{
width:250px;
height:180px;
}

.start
{
	font-size: 60px;
	color:navy;
	text-align: center;
	width:30%;
}

.mainDiv
{
	/* Must manually set width/height */
	 width:800px;
	 height:100vh;
	 /* The magic centering code */
	 margin:auto;
	 position:absolute;
	 top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
	 left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

	 /* Prevent div from overflowing main window */
	 max-width:100%;
	 max-height:100%;
	 overflow:auto;
}